<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApplicantDAO">

<select id="getApplicantList" parameterType="paging" resultType="applicant">

</select>

<insert id="applyFor" parameterType="applicant">
	INSERT INTO applicant (APPLICANT_ID, USERID, AD_ID, AD_TITLE, RESUME_ID, RESUME_TITLE, APPLICANT_NAME, REGDATE)
		 VALUES (seq_applicant_applicant_id.NEXTVAL, #{USERID}, #{AD_ID}, #{AD_TITLE}, #{RESUME_ID}, #{RESUME_TITLE}, #{APPLICANT_NAME}, SYSDATE);
 
</insert>

</mapper>
  


