<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApplicantDAO">

<select id="getApplicantList" parameterType="paging" resultType="applicant">
 SELECT RN, APPLICANT_ID, userId, AD_ID, AD_TITLE, RESUME_ID, RESUME_TITLE, APPLICANT_NAME, REGDATE
    FROM(
    SELECT ROWNUM AS RN, E.*
    FROM (
    SELECT ROWNUM APPLICANT_ID, userId, AD_ID, AD_TITLE, RESUME_ID, RESUME_TITLE, APPLICANT_NAME, TO_CHAR(REGDATE, 'YYYY-MM-DD') AS REGDATE
    FROM APPLICANT
    WHERE userId = '${userId}'
    ORDER BY APPLICANT_ID DESC
    )E
    )
    WHERE RN BETWEEN #{startPage} AND #{endPage}
    GROUP BY RN, APPLICANT_ID, userId, AD_ID, AD_TITLE, RESUME_ID, RESUME_TITLE, APPLICANT_NAME, REGDATE
    ORDER BY RN
</select>

<!-- 카운트 -->
<select id="getApplicantListCount" parameterType="String" resultType="paging">
SELECT COUNT(*) AS totalCount FROM APPLICANT WHERE userId like '${userId}'
</select>

<insert id="applyFor" parameterType="applicant">
	INSERT INTO applicant (APPLICANT_ID, userId, AD_ID, AD_TITLE, RESUME_ID, RESUME_TITLE, APPLICANT_NAME, REGDATE)
		 VALUES (seq_applicant_applicant_id.NEXTVAL, #{userId}, #{ad_id}, #{ad_title}, #{resume_id}, #{resume_title}, #{applicant_name}, SYSDATE)
</insert>

<select id="chkApply" parameterType="applicant" resultType="applicant">
	SELECT *
  		  FROM applicant 
  		 WHERE applicant_name = #{applicant_name} AND ad_id = #{ad_id}

</select>

</mapper>
  


