<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BootcampDAO">
  
<!--   	<insert id="bootcampInsert" parameterType="bootcamp"> -->
<!--   		INSERT INTO bootcamp -->
<!--   		VALUES (#{userId}, #{password}, #{bootcamp_name}) -->
<!--   	</insert> -->
  	
<!--   	<select id="idCheck" parameterType="bootcamp" resultType="bootcamp"> -->
<!--   		SELECT * FROM bootcamp WHERE userId = #{userId} AND password = #{password} -->
<!--   	</select> -->
  	
<!--   	<select id="bootcampInfo" parameterType="bootcamp" resultType="bootcamp"> -->
<!--   		SELECT *  -->
<!--   		  FROM bootcamp -->
<!--   		  WHERE userId = #{userId} -->
<!--   	</select> --> 
  	
  	
  	<!-- 미나 mapper.xml -->
	
	<select id="bootcamplogin" resultType="bootcamp">
		SELECT 'b' as loginFG, userId, password 
		  FROM BOOTCAMP 
		 WHERE userId = #{userId} AND password = #{password} UNION ALL 
		<!-- -->
		SELECT 'c', userId, password 
		  FROM COMPANY_INFO 
		 WHERE userId = #{userId} AND password = #{password} UNION ALL 
		<!-- -->
		SELECT 'm', userId, password 
		  FROM MEMBER 
		 WHERE userId = #{userId} AND password = #{password} UNION ALL 
		<!-- -->
		SELECT 'A', userId, password 
		  FROM ADMIN 
		 WHERE userId = #{userId} AND password = #{password} 
	</select>
	
	<!-- 학원회원수정 -->
	<update id="bootcampModify" parameterType="bootcamp">
		UPDATE bootcamp 
		   SET bootcamp_id = #{bootcamp_id},password = #{password}, tel = #{tel}, bootcamp_name = #{bootcamp_name}, representative = #{representative}, bootcamp_manager = #{bootcamp_manager}, bootcamp_add = #{bootcamp_add}, bootcamp_site = #{bootcamp_site}, email = #{email} 
		 WHERE userId = #{userId} 
	</update>
	 
	<!-- 학원정보 찾기 -->
	<select id="bootcampInfo" resultType="bootcamp" parameterType="String"> <!-- parameterType="bootcamp" -->
		SELECT * 
		  FROM bootcamp 
		 WHERE userId = #{userId} 
	</select>
	
	<!-- 학원 회원가입 -->
	<insert id="bootcampInsert" parameterType="bootcamp">
<!-- 		INSERT INTO bootcamp(userId, name, nickname, email, password, tel, bootcamp_id,bootcamp_name, representative,bootcamp_manager,bootcamp_add,bootcamp_site, manager_email) VALUES (#{userId},#{name},#{nickname},#{email},#{password},#{tel},#{bootcamp_id}, #{bootcamp_name}, #{representative},#{bootcamp_manager},#{bootcamp_add}, #{bootcamp_site},#{manager_email}) </insert> -->
		INSERT INTO bootcamp (BOOTCAMP_ID, USERID, PASSWORD, TEL, BOOTCAMP_NAME, REPRESENTATIVE, BOOTCAMP_MANAGER, BOOTCAMP_ADD, BOOTCAMP_SITE, EMAIL)
		     VALUES (seq_bootcamp_bootcamp_id.NEXTVAL, #{userId}, #{password}, #{tel}, #{bootcamp_name}, #{representative}, #{bootcamp_manager}, #{bootcamp_add}, #{bootcamp_site}, #{email}) 
	</insert>
	
	<!-- 아이디찾기 -->
	<select id="pwCheck" resultType="int" parameterType="String">
		SELECT COUNT(*) 
		  FROM bootcamp 
		 WHERE userId = #{userId} AND password = #{password} 
	</select>
	
	<select id="bootcampIdSearch" resultType="bootcamp">
		SELECT userId 
		  FROM bootcamp 
		 WHERE name = #{name} AND tel = #{tel} 
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="bootcampPwCheck"  resultType="bootcamp" parameterType="bootcamp">
		SELECT password 
		  FROM bootcamp 
		 WHERE userId = #{userId} AND email = #{email} 
	</select>
	
	<!-- 비밀번호 찾기 업테이트 -->
	<update id="bootcampPwUpdate" parameterType="bootcamp">
		UPDATE bootcamp 
		   SET password = #{password}
		 WHERE name = #{name} AND userId = #{userId} AND email = #{email} 
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="bootcampDelete">
		DELETE 
		  FROM bootcamp 
		 WHERE userId = #{userId} AND password = #{password} 
	</delete>
	
	<!-- 비밀번호 메일인증 -->
	<select id="findByEmail" resultType="bootcamp" parameterType="String">
		SELECT * 
		  FROM bootcamp 
		 WHERE email = #{email} 
	</select>
	
  </mapper>
  


