<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecruitDAO">
	<select id="getRecruitList" parameterType="recruit" resultType="recruit">
		SELECT * FROM job_ad ORDER BY ad_id ASC
	</select>

	<select id="getRecruit" parameterType="recruit" resultType="recruit">
		SELECT * FROM job_ad WHERE ad_id = #{ad_id}
	</select>

	<insert id="insertRecruit" parameterType="recruit">
		INSERT INTO JOB_AD (
		AD_ID, USERID,
		<if test= "company_logo !=null">
		COMPANY_LOGO, COMPANY_LOGO_EN,
		</if>
		COMPANY_NAME, JOB_EXPERIENCE, JOB_EDUCATION, JOB_POSITION, PROGRAMMING_LANGUAGES,
		HIRE_TYPE, JOB_SALARY, WORKING_DAYS, WORKING_HOURS, PROBATION_PERIOD,
		CODING_TEST, JOB_DESCRIPTION, CONTACT_EMAIL, APPLICATION_DEADLINE, REGDATE,
		AD_TITLE, MANAGER_NAME, COMPANY_ID, COMPANY_ROAD, COMPANY_DETAIL, COMPANY_EXTRA
		)
		VALUES (seq_job_ad_ad_id.NEXTVAL, #{userId},
		<if test="company_logo != null">
		#{company_logo}, #{company_logo_en},
		</if>
		#{company_name}, #{job_experience}, #{job_education}, #{job_position}, #{programming_languages},
		#{hire_type}, #{job_salary}, #{working_days}, #{working_hours},
		#{probation_period}, #{coding_test}, #{job_description}, #{contact_email},
		#{application_deadline}, SYSDATE, #{ad_title}, #{manager_name},
		#{company_id}, #{company_road}, #{company_detail}, #{company_extra})
	</insert>
	
	
	<select id="getRecruitForUpdating" parameterType="recruit" resultType="recruit">
	SELECT * FROM JOB_AD WHERE AD_ID = #{AD_ID}
	</select>
	
		<update id="updateRecruit" parameterType="recruit">
    UPDATE JOB_AD
    SET
    USERID = #{userId},
    <if test="company_logo != null">
        company_logo = #{company_logo},
        company_logo_en = #{company_logo_en},
    </if>
    COMPANY_NAME = #{company_name}, <!-- 수정: COMPANY_NAME -->
    JOB_EXPERIENCE = #{job_experience},
    JOB_EDUCATION = #{job_education}, <!-- 수정: JOB_EDUCATION -->
    JOB_POSITION = #{job_position},
    PROGRAMMING_LANGUAGES = #{programming_languages},
    HIRE_TYPE = #{hire_type},
    JOB_SALARY = #{job_salary},
    WORKING_DAYS = #{working_days},
    WORKING_HOURS = #{working_hours},
    PROBATION_PERIOD = #{probation_period},
    CODING_TEST = #{coding_test},
    JOB_DESCRIPTION = #{job_description},
    CONTACT_EMAIL = #{contact_email},
    APPLICATION_DEADLINE = #{application_deadline},
    AD_TITLE = #{ad_title},
    MANAGER_NAME = #{manager_name},
    COMPANY_ID = #{company_id},
    COMPANY_ROAD = #{company_road},
    COMPANY_DETAIL = #{company_detail},
    COMPANY_EXTRA = #{company_extra}
    WHERE AD_ID = #{ad_id}
</update>

	
	<delete id="deleteRecruit" parameterType="recruit">
	DELETE FROM job_ad
	WHERE ad_id = #{ad_id}
	</delete>

</mapper>
  


