<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ScrapDAO">

	<!-- list -->
	<select id="getScrapList" parameterType="paging" resultType="scrap">
	<!-- 페이징을 위한 select -> rownum 으로 정렬 -->
SELECT rn, scrap_id, userId, name, company_id, company_name, ad_id, ad_title, scrap_date
 FROM (
    SELECT ROWNUM AS rn, e.*
    FROM (
        SELECT scrap_id, userId, name, company_id, company_name, ad_id, ad_title, TO_CHAR(scrap_date, 'YYYY-MM-DD') as scrap_date
        FROM SCRAP
        WHERE userId like '${userId}'
        ORDER BY SCRAP_ID DESC
    	) e
	)
	WHERE rn BETWEEN #{startPage} AND #{endPage}
	GROUP BY rn, scrap_id, userId, name, company_id, company_name, ad_id, ad_title, scrap_date
	ORDER BY rn

	</select>
	
	<!-- 페이징 카운트 -->
	<select id="getScrapListCount" parameterType="String" resultType="paging">
	SELECT COUNT(*) AS totalCount
	FROM scrap
	WHERE userId = '%{userId}%'
	</select>

	<!-- check Scrap -->
	<select id="chkScrap" parameterType="scrap" resultType="scrap">
		SELECT * FROM SCRAP WHERE userId = #{userId} and ad_id = #{ad_id}
	</select>

	<!-- insert -->
	<insert id="insertScrap" parameterType="scrap">
		INSERT INTO SCRAP (SCRAP_ID, USERID, NAME, COMPANY_ID, COMPANY_NAME, AD_ID,
		AD_TITLE, SCRAP_DATE)
		VALUES (scrap_id_seq.NEXTVAL, #{userId}, #{name},
		#{company_id},#{company_name}, #{ad_id}, #{ad_title}, SYSDATE)
	</insert>

	<!-- delete -->
	<select id="deleteScrap" parameterType="scrap">
		DELETE FROM SCRAP WHERE scrap_id = #{scrap_id}
	</select>

</mapper>
  


