<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherDAO">
  	<select id="getTeacherList" parameterType="teacher" resultType="teacher">
  		SELECT * 
  		  FROM teacher
  		 ORDER BY teacher_id ASC
  	</select>
  	
  	<select id="getTeacher" parameterType="teacher" resultType="teacher">
<!--   		SELECT *  -->
<!--   		  FROM teacher -->
<!--   		 WHERE teacher_id = #{teacher_id} -->
		SELECT t.teacher_id, t.bootcamp_id, t. teacher_name, t.bootcamp_name, t.course_name, t.short_description, t.description, t.fname, t.fname_en, t.fsize, p.position_id, p.position
  		  FROM teacher t, position p
  		 WHERE teacher_id = #{teacher_id} AND t.position_id = p.position_id
  	</select>
  	
  	<insert id="insertTeacher" parameterType="com.human.java.domain.TeacherVO">
  		 INSERT INTO TEACHER (TEACHER_ID, BOOTCAMP_ID, TEACHER_NAME, BOOTCAMP_NAME, COURSE_NAME, SHORT_DESCRIPTION, DESCRIPTION
  		 	<if test="fname != null">
  		 		, FNAME, FNAME_EN, FSIZE
  		 	</if>
  		 , POSITION_ID)
		 VALUES (seq_teacher_teacher_id.NEXTVAL, #{bootcamp_id}, #{teacher_name}, #{bootcamp_name}, #{course_name}, #{short_description}, #{description}
		 	<if test="fname != null">
		 	, #{fname}, #{fname_en}, #{fsize}
		 	</if>
		 , #{position_id})
  	</insert>
  	
  	<select id="getTeacherForUpdating" parameterType="teacher" resultType="teacher">
  		SELECT * 
  		  FROM teacher
  		 WHERE teacher_id = #{teacher_id}
  	</select>
  	
  	<update id="updateTeacher" parameterType="teacher">
		UPDATE teacher
		SET 
			BOOTCAMP_ID = #{bootcamp_id},
			TEACHER_NAME = #{teacher_name},
			BOOTCAMP_NAME = #{bootcamp_name},
			COURSE_NAME = #{course_name},
			SHORT_DESCRIPTION = #{short_description},
			DESCRIPTION = #{description}
		<if test="fname != null">
			, FNAME = #{fname},
			FNAME_EN = #{fname_en},
			FSIZE = #{fsize}
		</if>
			, POSITION_ID = #{position_id}
		WHERE TEACHER_ID = #{teacher_id}
  	</update>
  	
  	<delete id="deleteTeacher" parameterType="teacher">
  		DELETE FROM teacher 
  		 WHERE TEACHER_ID = #{teacher_id}
  	</delete>
  	
  	<select id="searchBootcampList" parameterType="teacher" resultType="teacher">
  		SELECT * 
  		  FROM teacher
         WHERE bootcamp_name = #{bootcamp_name}
  		 ORDER BY teacher_id ASC
  	</select>
  	
  </mapper>
  


