<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherDAO">
  	<select id="getTeacherList" parameterType="teacher" resultType="teacher">
  		SELECT * 
  		  FROM teacher
  	</select>
  	
  	<select id="getTeacher" parameterType="teacher" resultType="teacher">
<!--   		SELECT *  -->
<!--   		  FROM teacher -->
<!--   		 WHERE teacher_id = #{teacher_id} -->
  		 select teacher_id, bootcamp_id, teacher_name, bootcamp_name, course_name, description, image_url
           from teacher
          where teacher_id = #{teacher_id}
  	</select>
  	
  	<insert id="insertTeacher" parameterType="teacher">
  		 INSERT INTO TEACHER (TEACHER_ID, BOOTCAMP_ID, TEACHER_NAME, BOOTCAMP_NAME, COURSE_NAME, SHORT_DESCRIPTION, DESCRIPTION, IMAGE_URL)
		 VALUES (seq_teacher_teacher_id.NEXTVAL, #{question_id}, #{teacher_name}, #{bootcamp_name}, #{course_name}, #{short_description}, #{description}, #{image_url})
  	</insert>
  	
  	<update id="updateTeacher" parameterType="teacher">
  		UPDATE teacher 
  		   SET TEACHER_NAME = #{teacher_name}, COURSE_NAME = #{course_name}, SHORT_DESCRIPTION = #{short_description}, DESCRIPTION = #{description}, IMAGE_URL = #{image_url} 
  		 WHERE TEACHER_ID = #{teacher_id}
  	</update>
  	
  	<delete id="deleteTeacher" parameterType="teacher"><!-- int로 할지 고민 -->
  		DELETE FROM teacher 
  		 WHERE TEACHER_ID = #{teacher_id}
  	</delete>
  	
  </mapper>
  


