@charset "UTF-8";

@charset "UTF-8";

* {
	color: #545252;
	/* 	 font-family: 'TAEBAEKmilkyway'; */
	border: 2px soild black;
}

/* @font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
p {
	font-size: 15px;
	font-weight: bolder;
	margin-top: 70px;
}


 table {
      width: 550px;
      margin: 0 auto;
      border-collapse: collapse;
 }
 
  th, td {
      padding: 10px;
      text-align: left;
 
    }
 

.container input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	font-size: 12pt;
	width: 400px;
	cursor: pointer;
	padding: 15px;
	text-align: center;
}

.container input:focus {
	background-color: #efecec;
}

.container #submit {
	background: #47b2e4;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	font-size: 15px;
	width: 200px;
	font-weight: bolder;
	cursor: pointer;
	margin: 20px auto 0;
	display: block;
}

.btn{
	float: right;
	margin-top: 10px;
	background-color: #ffffff;
	border: none;
	margin-radius: 10px;
	color: #808080;
}

.btn:hover {
	cusor: pointer;
	background-color: #ffffff;
	color: #008000;
	font-weight: bolder;
}

#submit:hover {
	cursor: pointer;
}

.small {
	font-size: 17px;
	margin-left: 20px;
	font-weight: bolder;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}