<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
    
  	<typeAliases>
		<typeAlias type="com.human.java.domain.QnAVO" alias="qna"/>
		<typeAlias type="com.human.java.domain.PagingVO" alias="paging"/>
		<typeAlias type="com.human.java.domain.AnswerVO" alias="answer"/>
		<typeAlias type="com.human.java.domain.MemberVO" alias="Member"/>
		<typeAlias type="com.human.java.domain.BootcampVO" alias="bootcamp"/>
		<typeAlias type="com.human.java.domain.TeacherVO" alias="teacher"/>
		<typeAlias type="com.human.java.domain.ReviewVO" alias="review"/>
		<typeAlias type="com.human.java.domain.CourseVO" alias="course"/>
		<typeAlias type="com.human.java.domain.EnrollmentVO" alias="enroll"/>
		
		<typeAlias type="com.human.java.domain.CompanyInfoVO" alias="companyInfo"/>
		<typeAlias type="com.human.java.domain.RecruitVO" alias="recruit"/>
		<typeAlias type="com.human.java.domain.ResumeVO" alias="resume"/>
		<typeAlias type="com.human.java.domain.ScrapVO" alias="scrap"/>
		<typeAlias type="com.human.java.domain.ApplicantVO" alias="applicant"/>
		


  	</typeAliases>
  </configuration>
  
  